@font-face
{
    font-family: 'Shrikhand';
    src: url('styles/fonts/shrikhand/Shrikhand-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;

    font-family: 'Roboto';
    src: url('styles/fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h2 /*  logo et titres */
{
    font-family: 'Shrikhand', arial, sans-serif;
} 
p /* texte */
{
    font-family: 'Roboto', arial, sans-serif;
}
a
{
    text-decoration: none;
}

body
{
    width: auto;
    text-align: center;
}

/* #article1
{
    
} */

#gps
{
    display: flex;
    justify-content: center;
    background: #e1e1e1;
    font-weight: bold;
    margin-top: 7px;
    border-top-style: outset;
    border-color: #cfcfcf;
}

#article1 .fas 
{
	line-height: 48px;
	margin-right: 20px;
}

#article1-bloc
{
    background: #f5f2f2;
    padding-top: 20px;
    height: 80vh;
    font-size: 1.2em;
}

#article1-bloc p
{
    margin-bottom: 42px;
    color: #898787;
}

#article1-bloc span
{
    border: 1px solid;
    border-radius: 50px;
    padding: 16px;
    background: #B90D9ECC;
    color: white;
}