
@font-face
{
    font-family: "Shrikhand";
    src: url('fonts/shrikhand/Shrikhand-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;

    font-family: "Roboto";
    src: url('fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

    font-family: "Roboto-h2";
    src: url('fonts/roboto/RobotoCondensed-BoldItalic.ttf') format('truetype');
}

h2 /*  logo et titres */
{
    font-family: "Shrikhand", arial, sans-serif;
} 

h3
{
    margin: 0;
}

p /* texte */
{
    font-family: "Roboto", arial, sans-serif;
    margin: 0;
}

a
{
    text-decoration: none;
    color: black;
    margin: 0;
}

#header-flex
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9vh;
    width: 100%;
    position: relative;
}

#return-arrow 
{
	font-size: 1.3em;
	position: absolute;
	left: 4vw;
	top: 1em;
}

#logo
{
    font-size: 3em;
}

body
{
    width: 100%;
    margin: 0;
}

#container
{
    width: 100%;
}

.img-header img 
{
	height: 59vw;
	width: 100%;
	object-fit: cover;
}

.carte-restaurant 
{
	padding: 1vh 5vw;
	background: #f4f4f4;
	border-radius: 41px 33px 0 0;
	position: relative;
	margin-top: -6vh;
}

#titre-restaurant
{
    display: flex;
    align-items: center;
}

#titre-restaurant .heart 
{
	position: relative;
	font-size: 2em;
	left: 10vw;
}

#titre-restaurant .empty-heart
{
	position: relative;
}

#titre-restaurant .full-heart
{
	position: absolute;
    opacity: 0;
    background: linear-gradient(#FF79DA, #9356DC);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    right: 0em;
    bottom: 4px;   
}

#titre-restaurant .full-heart:hover
{
    transition: 800ms ease-in-out;
    opacity: 1;
}

#titre-restaurant h2
{
    font-family: "Roboto-h2", arial, sans-serif;
    font-size: 2em;
}

.titre-menu
{
	padding: 2vh 0vw 1.5vh 0vw;
	border-bottom: 3px solid #99E2D0;
	width: 2.6em;
}

.menu-content 
{
    display: flex;
    flex-direction: column;
    height: 2.4em;
	background: white;
	margin: 3vh 0vw;
	padding: 1em 1em;
	border-radius: 15px;
	box-shadow: 0px 3px 6px 2px #d5d4d4;
	cursor: pointer;
    animation: cascade ease-in 0.4s;
}

@keyframes cascade
{
    0%{
        opacity: 0;
        transform: translateX(100%) scale(0.7);
    }
    
    50%{
        opacity: 0.5;
        transform: translateX(50%) scale(0.9);
    }
   
    100%{
    opacity: 1;
    transform: translateX(0%) scale(1);
    }
}

.menu1:nth-child(1) 
{
    animation: cascade 0.5s;
}

.menu1:nth-child(2)
{
    animation: cascade 0.7s;
}

.menu1:nth-child(3)
{
    animation: cascade 1s;
}

.menu-content span
{
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 1.2em;
}

.menu-content p
{
    overflow-x: clip;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 87%;
    font-size: 0.9em;
}

.menu-content span
{
    font-weight: bold;
    font-size: 1.1em;
}

section .commander 
{
	color: #FFF;
	font-size: 1.4em;
	background: linear-gradient(#FF79DA 5%, #9356DC 95%);
	padding: 0.7em;
	border-radius: 36px;
	width: 8.5em;
	margin: 2vh 0vw 7vh 15vw;
	cursor: pointer;
	box-shadow: 3px 4px 5px 0 #beb7b7;
}

section .commander:hover
{
    background: linear-gradient(0deg,#9e70d6, #eb92d1);
    box-shadow: 4px 5px 6px 2px #cac6c6;
}

footer
{
    background: #333232;
    padding: 21px 0px 8px 20px;
}

footer #image
{
    width: 6em;
    filter: invert(1);
}

footer img
{
    width: 100%;
}

footer ul
{
    color: rgb(250, 250, 250);
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    font-size: 1.1em;
    line-height: 1.6;
}

footer a
{
    color: white;
}

footer .fas
{
    font-size: 0.7em;
    margin-right: 1em;
    width: 1em;
}

@media screen and (min-width: 600px)
{

    section .commander 
    {
        width: 50%;
        margin: 2vh 0vw 7vh 25%;
    }

    footer #image 
    {
        margin-left: 39%;
        width: 22%;
    }

    footer ul 
    {
        text-align: center;
        font-size: 3vh;
    }

}

@media screen and (min-width: 1280px)
{
    #container
    {
        max-width: 1440px;
        display: flex;
        margin: auto;
        flex-direction: column;
    }

    .img-header img 
    {
        height: 43vw;
    }

    .menu1
    {
        width: 30vw;
        padding: 0vh 1vw 0vh 1vw;
    }

    #menu-flex
    {
        display: flex;
    }

    #titre-restaurant .heart {
        left: 62vw;
    }
}

@media screen and (min-width: 1700px) 
{
    #titre-restaurant .heart {
        left: 10vw;
    }
}